<table class="table">
    <thead>
        <tr>
            <th scope="col">TODO</th>
        </tr>
    </thead>
    <tbody id="todo_table">

    </tbody>

    <form id="complete_todo_form" method="POST" action="/complete_todo/"></form>
</table>